.wave {
    -webkit-animation-duration: 2.1s;
    animation-duration: 2.1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: wave-animation;
    animation-name: wave-animation;
    display: inline-block;
    -webkit-transform-origin: 70% 70%;
    transform-origin: 70% 70%;
}

@-webkit-keyframes wave-animation{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}10%{-webkit-transform:rotate(14deg);transform:rotate(14deg);}20%{-webkit-transform:rotate(-8deg);transform:rotate(-8deg);}30%{-webkit-transform:rotate(14deg);transform:rotate(14deg);}40%{-webkit-transform:rotate(-4deg);transform:rotate(-4deg);}50%{-webkit-transform:rotate(10deg);transform:rotate(10deg);}60%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}to{-webkit-transform:rotate(0deg);transform:rotate(0deg);}}
@keyframes wave-animation{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}10%{-webkit-transform:rotate(14deg);transform:rotate(14deg);}20%{-webkit-transform:rotate(-8deg);transform:rotate(-8deg);}30%{-webkit-transform:rotate(14deg);transform:rotate(14deg);}40%{-webkit-transform:rotate(-4deg);transform:rotate(-4deg);}50%{-webkit-transform:rotate(10deg);transform:rotate(10deg);}60%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}to{-webkit-transform:rotate(0deg);transform:rotate(0deg);}}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 30px;
    flex-direction: column;
}

.hero .shine {
    position: relative;
    margin-top: 50px;
    filter: drop-shadow(0 -2mm 5mm #89bcbc);
    width: 250px;
    height: 250px;
    border-radius: 100%;  /* Assure que la brillance suit la forme circulaire */
    overflow: hidden;     /* Cache tout ce qui dépasse de l'image */
  }

  .hero .profile:hover {
    background-image: url('../../assets/me_real.jpg');
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
  
  
  .hero .profile {
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
    object-fit: cover;   /* Pour que l'image remplisse bien tout le conteneur sans déformer */
  }
  .hero h1{
    width: 70%;
    text-align: center;
    font-size: 45px;
    font-weight: 600;
  }
  .hero h1 span{
    color: #fff;
    direction: ltr;
    background-image: url('../../assets/purple_background.webp');
    background-position: 0 64%;
    background-repeat: repeat-x;
    background-size: 432px;
    background-attachment: scroll;
  }
  .hero p{
    width: 50%;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
  }
  .hero h2{
    font-weight: 400;
    font-size: 34px;
    text-align: center;
    font-style: italic;
  }
  
  .shine::before {
    position: absolute;
    top: 0;
    left: -3%;  /* Commence complètement à gauche, hors de l'image */
    z-index: 2;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-35deg);
    transform: skewX(-35deg);
    transition: transform 0.75s ease;  /* Transition pour une animation fluide */
  }
  
  .shine:hover::before {
    transform: translateX(350%);  /* Déplace la brillance à l'intérieur de l'image */
  }
  
  .hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
  }

  .hero-connect{
    padding: 18px;
    cursor: pointer;
    border: 1px solid;
    box-shadow: 0 -8px 0 -4px #fff, 0 -16px 0 -8px #fff, 0 8px 0 -4px #fff, 0 16px 0 -8px #fff, 2px 0 0 2px black, -2px 0 0 2px black, 0 -8px 0 0 black, 0 8px 0 0 black, 0 -18px 0 -6px black, 0 18px 0 -6px black;
  }

  .hero-resume{
    padding: 18px;
    cursor: pointer;
    box-sizing: border-box;
    color: black;
    border-color: transparent;
    border-style: solid;
    background: linear-gradient(45deg, rgba(255, 193, 7, 1) 0%, #fbe516 100%);
    box-shadow: 0 0 0 5px #ff914e4d;
    border-image: url(https://assets.codepen.io/919888/original-1-.gif) 100% / 0 2rem 2rem 0 / 1.2rem;
  }


  .profile-container {
    position: relative;
    width: 150px; /* Ajuste selon ton besoin */
    height: 150px;
  }

  
.profile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.6s ease-in-out;
  border-radius: 50%; /* facultatif */
}
  
.fade-in {
  opacity: 1;
  z-index: 2;
}

.fade-out {
  opacity: 0;
  z-index: 1;
}


  .hero-resume {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.mario-icon {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  margin-top: 8px;
  transition: opacity 0.3s ease;
  opacity: 1;
}

@media (max-width: 600px) {
.hero-action {
    font-size: 16px;
}
}


.hero-connect a{
  text-decoration: none;
  color: inherit;
}

.shine::before {
  content: '';
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-35deg);
  animation: shineMove 2.5s infinite linear;
  z-index: 2;
}

@keyframes shineMove {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}
